%h1 Projects#new
%p Find me in app/views/projects/new.html.haml

-# Commented b/c this is now in the app layout.
-# %h2= @current_user.email

= form_for @project do |f|
  = f.label      :name, 'Name'
  = f.text_field :name
  = f.submit 'Save!'
